body {
    background-color: #153956;
    color: #ffffff;
    font-family: Avenir, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0 auto;
}

*,
::after,
::before {
    box-sizing: border-box;
}

h1{
    font-family: Georgia, Times, 'Times New Roman', serif;
}

h2,
h3,
p {
    margin-bottom: 0;
    margin-top: 0;
}

/* Without dotsv*/

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

/* Header */
.container-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
 .navigation{
    max-width: 800px;
 }
 .site-nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.site-nav__link{
    transition: all 250ms ease;
    color: #8ca7ce;
    font-weight: 700;
    padding: 0 30px;
}
.site-nav__link:hover,
.site-nav__link:focus {
    color: #f2a278;
}

.contacts{
    display: flex;
    justify-content: space-between;
}
.contacts__item{
    margin: 0 8px;
}
.hero__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
.hero__image{
    padding-right: 10%;
    z-index: 2;
}
.hero__photo{
    max-width: 400px;
    border: #002e4d 20px solid;
    border-radius: 50%;
}

.hero__title{
    color: #f2a278;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
}
.hero__text{
    font-size: 22px;
}
.star-one{
    position: absolute;
    top: 15%;
    right: 56%;
    z-index: 1;
}
.button__wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.button__box{
    cursor: pointer;
    width: 180px;
    height: 56px;
    background-color: #f07b61;
    transition: all 200ms ease;
    border: none;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgba(186, 216, 229, 0.12),
        0px 4px 4px rgba(186, 216, 229, 0.12),
        1px 4px 6px rgba(186, 216, 229, 0.12);
}
.button__box:hover,
.button__box:focus{
    left: -8px;
    top: 8px;
    transform: scale(1.05);
    transition: transform 0.5s;
}
.button__text{
    color: #153956;
    font-size: 21px;
    font-weight: 700;
}


/* Technology */
.technology{
padding-top: 50px;
}
.technology__title{
    text-align: center;
    color: #f2a278;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    font-weight: 700;
}
.technology__logo{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    padding-top: 40px;
    margin: 0 auto 50px;
}

.projects__wrapper{
    padding-top: 50px;
}

.footer{
    position: static;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    width: 100%;
    background-color: #002e4d;
}
.footer__text{
    margin-right: auto;
    margin-left: auto;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #8ca7ce;
    text-align: center;
}

.projects__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 30px;
    margin-right: -30px;
}

.projects__item{
    justify-content: center;
    border: #475468 solid 1px;
    border-radius: 5px;
    flex-basis: calc((100% - 90px) / 3);
    margin-bottom: 30px;
    box-shadow: 0px 1px 1px rgba(186, 216, 229, 0.12), 0px 4px 4px rgba(186, 216, 229, 0.12), 1px 4px 6px rgba(186, 216, 229, 0.12);
}
.projects__item:hover,
.projects__item:focus,
.logo__img:hover,
.logo__img:focus,
.contacts__img:hover,
.contacts__img:focus{
    transform: scale(1.05);
    transition: transform 0.5s;
}

.projects__item:not(:last-child) {
    margin-right: 30px;
}
.project__link{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.projects__title{
    margin: 20px auto 50px;
    text-align: center;
    color: #f2a278;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    font-weight: 700;
}

.projects__img{
    margin: 30px auto 0;
}

.projects__text{
    max-width: 350px;
    text-align: center;
    margin: 20px auto 30px;
    font-size: 16px;
    line-height: 1.71
}