body {
    background-color: #153956;
    color: #ffffff;
    font-family: Avenir, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0 auto;
    width: 1200px;
}

*,
::after,
::before {
    box-sizing: border-box;
}

h1{
    font-family: Georgia, Times, 'Times New Roman', serif;
}

h2,
h3,
p {
    margin-bottom: 0;
    margin-top: 0;
}

/* Without dotsv*/

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

/* Header */
.container-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
 .navigation{
    max-width: 800px;
 }
 .site-nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.site-nav__link{
    transition: all 250ms ease;
    color: #8ca7ce;
    font-weight: 700;
    padding: 0 30px;
}
.site-nav__link:hover,
.site-nav__link:focus {
    color: #f2a278;
}

.contacts{
    display: flex;
    justify-content: space-between;
}
.contacts__item{
    margin: 0 8px;
}
.hero__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
.hero__image{
    padding-right: 10%;
    z-index: 2;
}
.hero__photo{
    max-width: 400px;
    border: #002e4d 20px solid;
    border-radius: 50%;
}

.hero__title{
    color: #f2a278;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
}
.hero__text{
    font-size: 22px;
}
.star-one{
    position: absolute;
    top: 15%;
    right: 56%;
    z-index: 1;
}
.button__wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.button__box{
    width: 180px;
    height: 56px;
    background-color: #f07b61;
    transition: all 200ms ease;
    border: none;
    /* position: absolute; */
}
.button__box:hover,
.button__box:focus{
    left: -8px;
    top: 8px;
    /* transition: all 200ms ease; */
}
.button__text{
    color: #153956;
    font-size: 21px;
    font-weight: 700;
}

.button__shedow{
    width: 180px;
    height: 56px;
    background-color: #002e4d;
    /* position: absolute; */
    top: 15px;
    left: -15px;

}

/* Technology */
.technology{
padding-top: 50px;
}
.technology__title{
    text-align: center;
    color: #f2a278;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    font-weight: 700;
}
.technology__logo{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    padding-top: 20px;
    margin: 0 auto;
}

.projects__wrapper{
    padding-top: 50px;
}

.footer{
    position: static;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    width: 100%;
    background-color: #002e4d;
}
.footer__text{
    margin-right: auto;
    margin-left: auto;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #8ca7ce;
    text-align: center;
}



.projects__list{
    display: flex;
    flex-wrap: wrap;
    /* margin-left: -30px; */
}

.projects__item{
    flex-basis: calc((100% - 90px) / 3);
}

.projects__item:not(:last-child) {
    margin-bottom: 30px;
}
.project__link{
    height: 100%;
    display: flex;
    flex-direction: column;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    } */
}